/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Entire Page */
*{
    max-width: 1600px;
    margin: 0 auto;
}
body{
    background-color: #FFF8E7;
    font-family: "Open Sans";
    font-size: 22px;

    margin: 0;
    padding: 0;
}

/* Head of page */
header{
    background-color: #38a4c3ff;
}
/* logo */
#logo-image{
    max-width: 90px;
    height: auto;
    border-radius: 50%;
    padding-top: 5px;
}
/* Navigation bar */
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #b7e2eeff;
    color: black;
}


/* Main area of page */
/* Hero Section */
#hero-msg h1{
    text-align: center;
    color: black;
    font-family: "Baloo 2";
    font-size: 3em;
    margin-top: 10px;

}
#hero-msg h4{
    text-align: center;
    color: black;
    font-size: 1.3em;
}
#hero-img{
    width: 100%;
}
/* Image card Area */
main section{
    text-align: center;
}
main section h2{
    font-size: 2em;
    margin: 0;
}
#background{
    height:725px;
    background-color: #ef5722ff;
}
.home-grid{
    color: black;
}
.button-box{
    text-align: center;
    background-color: #ffc857ff;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
}
.button-box:hover{
    background-color: #b7e2eeff;
    color: black;
    text-decoration: none;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.rivers-card{
    margin: 200px 0;
}
.camping-card{
    margin: 200px 0;
}
.rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #b7e2eeff;
}
main section img{
    box-sizing: border-box;
}
/* Large image and message */
.msg{
    background-color: #ffc857ff;
    color: black;
    padding: 35px;
}
.msg h2{
    font-family: "Baloo 2";
    font-size: 2.2em;
}
.msg p{
    font-size: 1.2em;
    padding-bottom: 15px;
}

/* Footer of page */
footer{
    background-color: #38a4c3ff;
    color:black;
    padding: 25px 50px;
}
footer a{
    color: black;
    text-decoration: none;
    margin-top: 200px;
}
footer a:hover{
    color: black;
    background-color: #b7e2eeff;
    text-decoration: underline;
}
footer p{
    font-size: 1em;
}
.socials{
    padding-top: 15px;
}
