/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Entire Page */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFF8E7;
    font-family: "Open Sans";
    font-size: 22px;

    margin: 0;
    padding: 0;
}

/* Head of page */
header{
    background-color: #38a4c350;
    display: grid;
    grid-template-columns: 150px auto;
}
/* logo */
#logo{
    max-width: 90px;
    height: auto;
    border-radius: 50%;
    padding-top: 5px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
/* Navigation bar */
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #b7e2eeff;
    color: black;
}


/* Main area of page */
/* Hero Section */
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -125px;
}
#hero-msg h1{
    text-align: center;
    color: black;
    font-family: "Baloo 2";
    font-size: 3em;
    margin-top: 10px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    text-align: center;
}
#hero-msg h4{
    text-align: center;
    color: black;
    font-size: 1em;
}
#hero-img{
    width: 100%;
}
#book-button{
    text-align: center;
    background-color: #ffc857ff;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    display: inline-block;
}

/* Image card Area */
main.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
main section{
    text-align: center;
}
main section h2{
    font-size: 2em;
    margin: 0;
}
#background{
    height:725px;
    background-color: #ef5722ff;
    grid-column: 1/11;
    grid-row: 4/9;
}
.home-grid{
    color: black;
}
.button-box{
    text-align: center;
    background-color: #ffc857ff;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
}
.button-box:hover{
    background-color: #b7e2eeff;
    color: black;
    text-decoration: none;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img{
    border: 10px solid #b7e2eeff;
    width: 100%;

    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
main section img{
    box-sizing: border-box;
}
/* Large image and message */
.msg{
    background-color: #ffc857ff;
    color: black;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;

    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2{
    font-family: "Baloo 2";
    font-size: 2.2em;
}
.msg p{
    font-size: 1.2em;
    padding-bottom: 15px;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;

    box-shadow: 5px 5px 10px #6f7364;
}
/* Footer of page */
footer{
    background-color: #38a4c3ff;
    color:black;
    padding: 25px 50px;
    margin-top: 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: black;
    text-decoration: none;
    margin-top: 200px;
}
footer a:hover{
    color: black;
    background-color: #b7e2eeff;
    text-decoration: underline;
}
footer p{
    font-size: 1em;
}
.socials{
    padding-top: 15px;
}




@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}