/* this is how you reset the defaults */
*{
    /* This makes it measure from border to border */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: auto;
    background-color: #eee;
    font-size: 100%;
}

header{
    text-align: center;
    background-color: #333;
    /* 1 em is equivalent to the default browser font size (standard is 16px) */
    padding: 1em;
}
header > nav{
    display: flex;
    justify-content: center;
    gap: 2em;
}

header > nav > a{
    color: white;
    text-decoration: none;
}

header > img{
    border-radius: 50%;
    margin: 1em auto;
}

#image-scroller{
    position:relative;
    
}
#image-scroller h1{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
}

#image-scroller p{
    position: absolute;
    top: 50%;
    color: white;
    width: 100%;
    text-align: center;
    padding: 0 2em;
}
#image-scroller img{
    width: 100%;
}
#product-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    padding: 2em;
    width: 100%;
}

.product h2{
    font-size: .8em;
}
.product img{
    border-radius: 10%;
    box-shadow: 1px 1px 7px #555;
    margin-bottom: 1em;
}

footer{
    background-color: #333;
    color: white;
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 1.5em;
}

.social-media{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}