*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f0e5cb;
}

img{
    max-width: 100%;
    max-width: auto;

    border-radius: 5%;
}

nav{
    border: 3px solid #232221;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    background-color: #e8b754;
    padding: 2em;
}

nav a{
    color: #000;
    text-decoration: none;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    justify-items: center;
}

section#blue{
    background-color: aqua;
    border-radius: 4%;
    text-align: center;
}

section#green{
    background-color: lightgreen;
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 4%;
    text-align: center;
}

section#red{
    background-color: lightcoral;
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 4%;
    text-align: center;
}

section#about{
    grid-column: 1/4;
    justify-items: center;
}